.Navbar ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.Navbar ul > li {
  display: block;
  flex: 0 1 auto; /* Default */
  padding: 0 5px;
  list-style-type: none;
}

.Link {
  text-decoration: none;
  color: black;
}

.ActiveLink {
  color: slateblue;
}
