.Title {
  display: block;
}

.ToggleOpeningCrawl,
.ToggleCharacters {
  cursor: pointer;
  display: block;
}

.ToggleOpeningCrawl:hover,
.ToggleCharacters:hover {
  background-color: #eee;
}

.OpeningCrawl {
  display: none;
  padding-left: 20px;
}

.Details small {
  color: #666;
  font-size: 10px;
}

.OpeningCrawlVisible {
  display: block;
}

.Characters {
  display: none;
  padding-left: 20px;
}

.CharactersVisible {
  display: block;
}
